{% extends "base.html" %}

{# Номер лабораторной работы: #}
{% block lab %}Лабораторная работа 3 {% endblock %}

{# Основной контент:#}
{% block main %}
     <h1>Формы, cookie</h1>
    <div>
        Привет, <span style="color: {{name_color}}">{{ name }}</span>!
    </div>
    <div>
        Возраст: {{ age }}
    </div>
    <div>Список сделанных страниц:</div>
    <ol>
        <li><a href="/lab3/cookie">Куки</a></li>
        <li><a href="/lab3/del_cookie">Очистка куки</a></li>
        <li><a href="/lab3/form1">Форма</a></li>
        <li><a href="/lab3/order">Заказ напитка</a></li>
        <li><a href="/lab3/settings">Настройки</a></li>
        <li><a href="/lab3/form2">Билет</a></li>
        <li><a href="/lab3/del_cookie_2">Очистка куки</a></li>
    </ol>
    <a href="/index">Назад в меню</a>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="content"></div>
{% endblock %}