
h1 {
    color: blanchedalmond;
    font-size: 100px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.533);
    -webkit-text-stroke: 2px burlywood;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img {
    height: 550px;
    width: 700px;
    border:15px #a09969b1  ridge; width:700px;
    margin-left: 420px;
    margin-top: 50px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family:'Times New Roman', Times, serif; 
}

body {
    display: flex;
    flex-direction: column; 
}

header {
    background-color: #e294b5; 
    color: white; 
    font-size: 17pt;
    text-align: center; 
    padding: 20px; 
    flex-shrink: 0; 
}

ol {
    flex-grow: 1; 
    padding: 20px; 
    background-color: #d6c6f6; 
    text-align: left; 
}

a {
    text-decoration: none; 
    color: #b57caf; 
    font-size: 25pt;
    font-weight: 1000px;
    text-align: center;
}

a:hover {
    text-decoration: underline; 
    color: aliceblue;
}

footer {
    background-color:#cf88e0; 
    color: white; 
    padding: 15px;
    font-size: 17pt;
    font-family: 'Times New Roman';
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
li {
    text-decoration: none; 
    color: #fdf3ff; 
    font-weight: bold;
    font-size: 20pt;
    margin-left: 575px;
}
title {
    background-color: burlywood;
    padding: 15px;
    font-size: 17pt;
    font-family: 'Times New Roman'
}

p {
    text-align: justify; 
    line-height: 1.5; 
    font-size: 20px; 
    text-indent: 0cm; 
    margin: 5px; 
    max-width: 600px; 
    margin-left: auto; 
    margin-right: auto;
}