<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кушнер Екатерина. Лабораторная работа 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ff.css') }}">

</head>
<body>
    <h1>Все цветы</h1>
    <p>Всего цветов: {{ total }}</p>
    <div class="flower-grid">
        {% for flower in flowers %}
        <div class="flower-card">
            <h2>{{ flower }}</h2>
            <p>Цветок</p>
        </div>
        {% endfor %}
    </div>
    <p><a href="{{ url_for('clear_flowers') }}">Очистить список цветов</a></p>
</body>
</html>